<!-- <div class="container"> -->

  <!-- <div class="col-lg-12"> -->
    <div class="box">
      <h1>Snow Plows</h1>
      <!-- <p>In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide.</p> -->
    </div>
    <div class="row products">
      <% @snow_plows.keys.each do |k|%>
        <div class="col-lg-4 col-md-6">
          <div class="product">
            <div class="flip-container">
              <div class="flipper">
                <div class=""><a href="detail.html"><%= image_tag "#{@snow_plows[k][:picture]}", class:'img-fluid' %></a></div>
                <!-- <div class="back"><a href="detail.html"><img src="img/product1_2.jpg" alt="" class="img-fluid"></a></div> -->
              </div>
            </div><a href="detail.html" class="invisible"></a>
            <div class="text">
              <h3> <%= link_to k, inventory_path(@snow_plows[k][:ids].first) %> </h3>
              <p class="price">
                <del></del> $<%= @snow_plows[k][:msrp] %>0
              </p>
              <p class="buttons"> <%= link_to "View", inventory_path(@snow_plows[k][:ids].first), class:'btn btn-outline-secondary' %> </p>
            </div>
            <!-- /.text-->
          </div>
          <!-- /.product            -->
        </div>
      <% end %>

      <div id="all">
        <div id="content">
          <div class="container">
            <div class="row">

              <div class="col-lg-3">
                <!--
                *** MENUS AND FILTERS ***
                _________________________________________________________
                -->

                <!-- *** MENUS AND FILTERS END ***-->
                <div class="banner"><a href="#"><img src="img/banner.jpg" alt="sales 2014" class="img-fluid"></a></div>
              </div>
              <div class="col-lg-12">
                <div class="box">
                  <h1>Apparell</h1>
                  <!-- <p>In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide.</p> -->
                </div>
                <!-- <div class="box info-bar">
                  <div class="row">
                    <div class="col-md-12 col-lg-4 products-showing">Showing <strong>12</strong> of <strong>25</strong> products</div>
                    <div class="col-md-12 col-lg-7 products-number-sort">
                      <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                        <div class="products-number"><strong>Show</strong><a href="#" class="btn btn-sm btn-primary">12</a><a href="#" class="btn btn-outline-secondary btn-sm">24</a><a href="#" class="btn btn-outline-secondary btn-sm">All</a><span>products</span></div>
                        <div class="products-sort-by mt-2 mt-lg-0"><strong>Sort by</strong>
                          <select name="sort-by" class="form-control">
                            <option>Price</option>
                            <option>Name</option>
                            <option>Sales first</option>
                          </select>
                        </div>
                      </form>
                    </div>
                  </div>
                </div> -->
                <div class="row products">
                  <% @shirts.keys.each do |k|%>
                    <div class="col-lg-4 col-md-6">
                      <div class="product">
                        <div class="flip-container">
                          <div class="flipper">
                            <div class=""><a href="detail.html"><%= image_tag "#{@shirts[k][:picture]}", class:'img-fluid' %></a></div>
                            <!-- <div class="back"><a href="detail.html"><img src="img/product1_2.jpg" alt="" class="img-fluid"></a></div> -->
                          </div>
                        </div><a href="detail.html" class="invisible"></a>
                        <div class="text">
                          <h3> <%= link_to k, inventory_path(@shirts[k][:ids].first) %> </h3>
                          <p class="price">
                            <del></del> $<%= @shirts[k][:msrp] > 0 ? @shirts[k][:msrp] : @shirts[k][:rmatv_price] %>
                          </p>
                          <p class="buttons"><%= link_to "View", inventory_path(@shirts[k][:ids].first, colors: @shirts[k][:colors]), class:'btn btn-outline-secondary' %></p>
                        </div>
                        <!-- /.text-->
                      </div>
                      <!-- /.product            -->
                    </div>
                  <% end %>

                  <!-- /.products-->
                </div>
                <!-- <div class="pages">
                  <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                    <ul class="pagination">
                      <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                      <li class="page-item active"><a href="#" class="page-link">1</a></li>
                       <li class="page-item"><a href="#" class="page-link">2</a></li>
                      <li class="page-item"><a href="#" class="page-link">3</a></li>
                      <li class="page-item"><a href="#" class="page-link">4</a></li>
                      <li class="page-item"><a href="#" class="page-link">5</a></li>
                      <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                    </ul>
                  </nav>
                </div> -->
              </div>
              <!-- /.col-lg-9-->
            </div>
          </div>
        </div>
      </div>
